@font-face {
    font-family: Kameron;
    src: url(./assets/fonts/Kameron-VariableFont_wght.ttf);
}

* {
    font-family: Kameron;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Essa é a imagem de fundo*/
body {
    background-image: url(./assets/Imagens/background-image\ 1.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.personalInformation {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    background-color: rgba(134, 60, 60, 0.342);
    max-width: 100%;
}

/*Essa é a foto de perfil*/
img {
    margin: 40px 20px 20px 80px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px 15px;
}

#profile-info {
    font-size: 35px;
}

.serviceContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "serviceContainer work"
    "serviceContainer work"
    ;
    flex-direction: row;
    margin: 30px 0px 25px 0px;
    padding-left: 80px;
}

.hand {
    grid-column: 2;
    grid-row: 1;
}

.title {
    text-align: center;
    font-size: 40px;
}

.serviceInfo {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background-color: rgba(134, 60, 60, 0.342);
    padding: 30px 0 40px;
    padding-left: 80px;
}

.service {
    margin-top: 25px;
}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 250px;
    width: 60%;
    padding-bottom: 25px;
    border: 0;
}

.servicesSection {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    margin: 50px;
}

hr {
    border: 0;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.508);
    margin: 20px 0;
}

.socialLinks {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding: 15px;
}

.socialLinks a {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

@media screen (max-width: 390px) and (min-width: 1200px) {
    body {
        background-image: url(./assets/Imagens/background-image\ 1.svg);
        color: rgb(255, 255, 255);
    }

    .personalInformation {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        background-color: rgba(134, 60, 60, 0.342);
        width: 100%;
    }
}